*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #04476428;
    background-image: url('Images/backg.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
    height: 50vh;
    background-repeat: no-repeat;
    
}

.card{
    box-shadow: 0 4px 8px rgba(64, 1, 1, 0.1);
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, rgba(31, 177, 244, 0.121), rgba(72, 160, 243, 0.55));
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc ;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    overflow: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button img{
    width: 16px;
}
.weather * {
    color: white;
    
  }
  
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    columns: white;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
    columns: white;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: center;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity , .wind{
font-size: 28px;
margin-top: -6px;
}
.weather{
    display: none;
    transition: opacity 0.5s ease; 
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: white;
    display: none;
}